@import "bourbon/bourbon";
@import "neat/neat";
@import "bitters/bitters";
@import "css/font-awesome.min.css";

@include font-face(LeagueGothic, 'fonts/leaguegothic-regular-webfont');
@include font-face(GandhiSans, 'fonts/gandhisans-regular-webfont');

body {
  margin: 0px;
  font-family: GandhiSans, sans-serif;
  font-size: 16px;

  section {
    @include outer-container;
    margin-top: 60px;

    hr {
      margin: 0px;
    }

    h2 {
      font-family: LeagueGothic, sans-serif;
      font-size: 20px;
      text-transform: uppercase;
      color: #AAA;
      position: relative;
      top: -12px;
      padding: 0 20px;
      margin-bottom: 50px;
      
      span {
        background-color: white;
        padding: 15px;
      }
    }

    .icon {
      margin: 0 auto;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
    
    &#hero {
      .logo {
        width: 400px;
        height: 260px;
        margin-bottom: 20px;
        background-image: url(images/logo.png);
        z-index: 50;
        position: relative;
        pointer-events: none;

        @include hidpi() {
          background-image: url(images/logo@2x.png);
        }
      }

      .download {
        width: 400px;
        margin: -68px auto 20px auto;
        text-align: right;
        z-index: 40;
        position: relative;

        .button {
          color: #777;
          padding: 3px 10px;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 3px;
          box-shadow: 0 0 4px #ddd;
          background-color: #fafafa;
          margin-right: 4px;

          &:hover {
            cursor: pointer;
            background-color: #fff;
          }
        }
      }

      .summary {
        color: #aaa;
        font-size: 18px;
        font-style: italic;
        text-align: center;
        margin-bottom: 20px;
      }
    }

    &#features {
      text-align: center;

      .feature {
        @include span-columns(4);
        padding: 25px;
        font-size: 0.8em;

        h3 {
          font-size: 36px;
          margin-bottom: 10px;
          font-family: LeagueGothic;
          text-transform: uppercase;
        }

        .icon {
          &.size-is-everything {
            width: 125px;
            height: 140px;
            margin-top: -40px;
            margin-bottom: 10px;
            background-image: url(images/size_is_everything.png);

            @include hidpi() {
              background-image: url(images/size_is_everything@2x.png);
            }
          }

          &.text-based-ui {
            width: 150px;
            height: 90px;
            margin-top: 5px;
            margin-bottom: 15px;
            background-image: url(images/text_based_ui.png);

            @include hidpi() {
              background-image: url(images/text_based_ui@2x.png);
            }
          }

          &.quick-delete {
            width: 100px;
            height: 150px;
            margin-top: -42px;
            margin-bottom: 2px;
            background-image: url(images/quick_delete.png);

            @include hidpi() {
              background-image: url(images/quick_delete@2x.png);
            }
          }
        }
      }
    }

    &#usage {
      text-align: center;

      .description {
        font-style: italic;
      }

      .keys {
        margin: 50px 0;
      }
    }
  }

  table {
    border: 1px solid #ccc;
    border-radius: 6px;
  }

  footer {
    text-align: center;
    padding: 50px 0px;
    color: white;
    background-color: #430D0B;
  }
}
